@model IEnumerable<Game>

@if (Model.Any())
{
    @foreach (var game in Model)
    {
        <div class="games__item"
             data-rating="@game.AverageRaitingPlayers"
             data-categories="@(game.SkillsLearning != null ? string.Join(",", game.SkillsLearning.Select(s => s.Name.ToLower())) : "")"
             data-keywords="@(game.SkillsLearning != null ? string.Join(",", game.SkillsLearning.Select(s => s.Name.ToLower())) : "")">
            <img class="games__image" src="@game.CoverImagePath" alt="@game.Title">
            <div class="games__content">
                <h3 class="games__name">@game.Title</h3>
                <div class="games__stats">
                    <span class="games__rating">
                        <img src="/icon/star.svg" alt="star" class="rating-star filled"> @game.AverageRaitingPlayers
                    </span>
                    <span class="games__likes">
                        <img src="/icon/like2.svg" alt="like" class="stat-icon favorite-toggle"> 120
                    </span>
                    <span class="games__views">
                        <img src="/icon/eye.svg" alt="view" class="stat-icon"> @game.NumberDownloads
                    </span>
                </div>
                <div class="games__actions">
                    @if (game?.GamePlatform?.Name == "Desktop")
                    {
                        <a href="@game.GameFilePath" download role="button" class="games__button">Скачать</a>
                    }
                    else
                    {
                        <a asp-controller="Game" asp-action="Start" asp-route-idGame="@game.Id" class="games__button">Играть</a>
                    }
                    <a asp-controller="Game" asp-action="Details" asp-route-idGame="@game.Id" role="button" class="games__preview button">Подробнее</a>
                </div>
            </div>
        </div>
    }
}
else if (@ViewBag.GameName != null)
{
    <h4 class="game-hero__secondary">:( Игры с названием '@ViewBag.GameName' нет</h4>
}
else
{
    <h4 class="game-hero__secondary">:( Похоже таких игр покая не существует</h4>
}