@{
    ViewData["Title"] = "EditProfile";
}

@model ProfileViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>LingvoGameOs</title>
</head>

<body>
    <div class="wrapper">
        <div id="header-placeholder"></div>

        <main class="content">
            <div class="content__container _container">
                <div class="content__row">
                    <aside class="content__sidebar">
                        <!-- Профиль пользователя -->
                        <div class="profile">
                            <h3 class="profile__title">Профиль пользователя</h3>
                            <div class="profile__avatar">
                                <div class="profile__avatar-wrapper">
                                    <img src="img/avatar100.png" alt="Аватар пользователя" class="profile__image">
                                    <label class="profile__upload-avatar">
                                        <input type="file" accept="image/*" class="profile__upload-input" hidden>
                                        Изменить
                                    </label>
                                </div>
                            </div>
                            <form method="post" class="profile__form">
                                <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

                                <div class="profile__field">
                                    <label class="profile__label" asp-for="Name">Имя</label>
                                    <input type="text" class="profile__input" value="@Model.Name" asp-for="Name">
                                    <span asp-validation-for="Name" />
                                </div>

                                <div class="profile__field">
                                    <label class="profile__label" asp-for="Surname">Фамилия</label>
                                    <input type="text" class="profile__input" value="@Model.Surname" asp-for="Surname">
                                    <span asp-validation-for="Surname" />
                                </div>

                                <div class="profile__field">
                                    <label class="profile__label" asp-for="Email">Email</label>
                                    <input type="email" class="profile__input" value="@Model.Email" asp-for="Email">
                                    <span asp-validation-for="Email" />
                                </div>

                                @* <div class="profile__field"> *@
                                @*     <label class="profile__label">Роль: @Model.Role</label> *@
                                @* </div> *@

                                <div class="profile__field">
                                    <label class="profile__label" asp-for="Description">О себе</label>
                                    <textarea class="profile__input profile__textarea" placeholder="Расскажите о себе" value="@Model.Description" asp-for="Description"></textarea>
                                    <span asp-validation-for="Description" />
                                </div>

                                <button type="submit" asp-controller="Profile" asp-action="EditProfile" class="profile__button">Сохранить изменения</button>
                            </form>
                        </div>
                    </aside>
                    <section class="content__main">
                    </section>
                </div>
            </div>
        </main>

        <div id="footer-placeholder"></div>
    </div>
    <script type="module" src="js/script.js"></script>
</body>

</html>