@model EditUserViewModel

@{
    ViewData["Title"] = $"Настройки профиля {Model.Name} {Model.Surname}";
}

<div class="content__row">
    <aside class="content__sidebar">
        <!-- Профиль пользователя -->
        <div class="profile">
            <h3 class="profile__title">Профиль пользователя</h3>

            <div class="profile__avatar profile__avatar__settings">
                <div class="profile__avatar-wrapper profile__avatar-wrapper__settings">
                    <img src="@Model.AvatarImgPath" alt="Аватар пользователя" class="profile__image profile__image__settings">
                    <div class="profile__avatar-overlay__settings">
                        <button type="button" class="profile__avatar-upload__settings">
                            Сменить
                        </button>
                    </div>
                </div>
            </div>

            <form class="profile__form" method="post" enctype="multipart/form-data">
                <input asp-for="UploadedFile" type="file" class="uploaded__file__settings" accept="image/*">

                <input asp-for="AvatarImgPath" type="hidden" value="@Model.AvatarImgPath">

                <div class="profile__field">
                    <label asp-for="Name" class="profile__label">Имя</label>
                    <input asp-for="Name" type="text" class="profile__input" id="firstName" value="@Model.Name" required>
                    <span asp-validation-for="Name" />                    
                </div>
                <div class="profile__field">
                    <label asp-for="Surname" class="profile__label">Фамилия</label>
                    <input asp-for="Surname" type="text" class="profile__input" id="lastName" value="@Model.Surname" required>
                    <span asp-validation-for="Surname" />
                </div>
                <div class="profile__field">
                    <label asp-for="UserName" class="profile__label">Email</label>
                    <input asp-for="UserName" type="email" class="profile__input" id="email" value="@Model.UserName" required>
                    <span asp-validation-for="UserName" />
                </div>
                <div class="profile__field profile__field--bio">
                    <label asp-for="Description" class="profile__label">О себе</label>
                    <textarea asp-for="Description" class="profile__input profile__textarea" id="bio" placeholder="Расскажите о себе">@Model.Description</textarea>
                    <span asp-validation-for="Description" />
                </div>
                
                <input asp-for="Id" type="hidden" value="@Model.Id">

                <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>

                <button type="submit" asp-controller="Profile" asp-action="Settings" class="profile__button">
                    Сохранить изменения
                </button>
            </form>
        </div>
        
        
    </aside>
    <section class="content__main">
    </section>
</div>

@section Scripts {
    <script src="/js/avatarChange.js" type="module"></script>
}