@model EditUserViewModel

@{
    ViewData["Title"] = $"Настройки профиля {Model.Name} {Model.Surname}";
}

<div class="content__row">
    <aside class="content__sidebar">
        <!-- Профиль пользователя -->
        <div class="profile">
            <h3 class="profile__title">Профиль пользователя</h3>
            <div class="profile__avatar">
                <div class="profile__avatar-wrapper">
                    @if (Model.AvatarImgPath != null)
                    {
                        <img src="@Model.AvatarImgPath" alt="Аватар пользователя" class="profile__image">
                    }
                    else
                    {
                        <img src="/img/avatar100.png" alt="Аватар пользователя" class="profile__image">
                    }
                </div>
            </div>
            <form class="profile__form" method="post" enctype="multipart/form-data">
                <div class="profile__field">
                    <label asp-for="Name" class="profile__label">Имя</label>
                    <input asp-for="Name" type="text" class="profile__input" id="firstName" value="@Model.Name" required>
                    <span asp-validation-for="Name" />                    
                </div>
                <div class="profile__field">
                    <label asp-for="Surname" class="profile__label">Фамилия</label>
                    <input asp-for="Surname" type="text" class="profile__input" id="lastName" value="@Model.Surname" required>
                    <span asp-validation-for="Surname" />
                </div>
                <div class="profile__field">
                    <label asp-for="UserName" class="profile__label">Email</label>
                    <input asp-for="UserName" type="email" class="profile__input" id="email" value="@Model.UserName" required>
                    <span asp-validation-for="UserName" />
                </div>
                <div class="profile__field profile__field--bio">
                    <label asp-for="Description" class="profile__label">О себе</label>
                    <textarea asp-for="Description" class="profile__input profile__textarea" id="bio" placeholder="Расскажите о себе">@Model.Description</textarea>
                    <span asp-validation-for="Description" />
                </div>

                <!-- Загрузка авы -->
                
                <input asp-for="Id" type="hidden" value="@Model.Id">

                <input asp-for="AvatarImgPath" type="hidden" value="@Model.AvatarImgPath">

                <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>

                <button type="submit" asp-controller="Profile" asp-action="Settings" class="profile__button">
                    Сохранить изменения
                </button>
            </form>
        </div>
        
        
    </aside>
    <section class="content__main">
    </section>
</div>