@model List<Review>

<section class="game-reviews">
    <div class="game-reviews__header">
        <h2 class="game-reviews__title">Отзывы</h2>
        @if (ViewBag.IsDetailsPage)
        {
            <button class="game-reviews__button profile__button" data-game-id="@ViewBag.GameId" id="write-review-btn">
                <img src="/icon/write.svg" alt="Write" class="game-reviews__icon"> Написать отзыв
            </button>
        }
    </div>
    <div class="game-reviews__container">
        @foreach (var review in Model)
        {
            @if (review.IsApproved)
            {
                <article class="game-reviews__card" style="display: block;">
                    <div class="game-reviews__reviewer">
                        <img src="@review.Author.AvatarImgPath" alt="Reviewer" class="game-reviews__avatar">
                        <div class="game-reviews__reviewer-details">
                            <span class="game-reviews__reviewer-name">@review.Author.Name</span>
                            <span class="game-reviews__reviewer-location">@review?.Game?.Title</span>
                        </div>
                        <div class="game-reviews__rating">
                            <span class="game-reviews__rating-score">@review.Rating</span>
                            <img src="/icon/star-filled.svg" alt="Star" class="game-reviews__star">
                        </div>
                    </div>
                    <p class="game-reviews__text">@review.Text</p>
                </article>
            }
        }
    </div>
    <div class="game-reviews__navigation">
        <button class="game-reviews__nav-button game-reviews__prev">
            <img src="/icon/prev.svg" alt="Previous">
        </button>
        <div class="game-reviews__indicators">
            <!-- Индикаторы будут созданы динамически -->
        </div>
        <button class="game-reviews__nav-button game-reviews__next">
            <img src="/icon/next.svg" alt="Next">
        </button>
    </div>
</section>