@model Game

<div class="wrapper">
	<div id="header-placeholder"></div>

	<main class="content">
		<div class="content__container _container">
			<!-- Главный баннер игры -->
			<section class="game-hero" data-game-id="game1">
				<div class="game-hero__content">
					<img src="@Model.CoverImageURL" alt="Game banner" class="game-hero__image">
					<div class="game-hero__info">
						<h1 class="game-hero__title">@Model.Title</h1>
						<p class="game-hero__description">
							@Model.Description
						</p>
						<div class="game-hero__actions">
							<button class="game-hero__button profile__button">
								<a asp-controller="Game" asp-action="Start" asp-route-idGame="@Model.Id"><img src="/icon/play.svg" alt="Play" class="game-hero__play-icon"> Начать игру</a>
							</button>
							<button class="game-hero__share profile__button">
								<img src="/icon/share.svg" alt="Share" class="game-hero__share-icon">
							</button>
						</div>
					</div>
				</div>

			</section>

			<!-- Основная информация об игре -->
			<section class="game-info">
				<h2 class="game-info__title">Основная информация об игре</h2>
				<div class="game-info__row">
					<article class="game-info__description">
						<h3 class="game-info__subtitle">Описание</h3>
						<p class="game-info__text">
							@Model.Description
						</p>
					</article>
					<aside class="game-info__metadata">

						<div class="game-info__metadata-item">
							<div class="game-info__metadata-header">
								<img src="/icon/calendar.svg" alt="Calendar" class="game-info__metadata-icon">
								<h4 class="game-info__metadata-title">Дата выхода</h4>
							</div>
							<p class="game-info__metadata-value">@Model.PublicationDate.ToShortDateString()</p>
						</div>
						<div class="game-info__metadata-item">
							<div class="game-info__metadata-header">
								<img src="/icon/categories.svg" alt="Categories" class="game-info__metadata-icon">
								<h4 class="game-info__metadata-title">Категории</h4>
							</div>
							<div class="game-info__metadata-list">
								@foreach (var type in Model.GameTypes)
								{
									<span class="game-info__metadata-tag">@type.Name</span>
								}
							</div>
						</div>
						<div class="game-info__metadata-item">
							<div class="game-info__metadata-header">
								<img src="/icon/rating.svg" alt="Rating" class="game-info__metadata-icon">
								<h4 class="game-info__metadata-title">Рейтинг</h4>
							</div>
							<div class="game-info__ratings">
								<div class="game-info__rating-group">
									<h5 class="game-info__rating-title">Игроки</h5>
									<div class="game-info__rating-details">
										<div class="game-info__stars">
											<img src="/icon/star-filled.svg" alt="Star" class="game-info__star">
											<img src="/icon/star-filled.svg" alt="Star" class="game-info__star">
											<img src="/icon/star-filled.svg" alt="Star" class="game-info__star">
											<img src="/icon/star-filled.svg" alt="Star" class="game-info__star">
											<img src="/icon/star-half.svg" alt="Half Star" class="game-info__star">
										</div>
										<span class="game-info__rating-value">@Model.Raiting</span>
									</div>
								</div>
							</div>
						</div>
						<div class="game-info__metadata-item">
							<h4 class="game-info__metadata-title">Разработчик</h4>
							<div class="game-info__developer">
								<img src="/img/developer-avatar.png" alt="Developer" class="game-info__developer-avatar">
								<div class="game-info__developer-details">
									<span class="game-info__developer-name">@Model.Author.Name</span>
									<span class="game-info__developer-games">Игр: @Model.Author.Games.Count</span>
								</div>
							</div>
						</div>
						<a href="leaderboard_game-id.html" class="game-info__leaderboard profile__button">Таблица лидеров</a>
					</aside>
				</div>
			</section>

			<!-- Отзывы -->
			<section class="game-reviews">
				<div class="game-reviews__header">
					<h2 class="game-reviews__title">Отзывы</h2>
					<button class="game-reviews__button profile__button">
						<img src="/icon/write.svg" alt="Write" class="game-reviews__icon"> Написать отзыв
					</button>
				</div>
				<div class="game-reviews__container">
					<article class="game-reviews__card">
						<div class="game-reviews__reviewer">
							<img src="img/avatar.png" alt="Reviewer" class="game-reviews__avatar">
							<div class="game-reviews__reviewer-details">
								<span class="game-reviews__reviewer-name">Viezh Robert</span>
								<span class="game-reviews__reviewer-location">Warsaw, Poland</span>
							</div>
							<div class="game-reviews__rating">
								<span class="game-reviews__rating-score">4.5</span>
								<img src="icon/star-filled.svg" alt="Star" class="game-reviews__star">
							</div>
						</div>
						<p class="game-reviews__text">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						</p>
					</article>
					<article class="game-reviews__card">
						<div class="game-reviews__reviewer">
							<img src="img/avatar.png" alt="Reviewer" class="game-reviews__avatar">
							<div class="game-reviews__reviewer-details">
								<span class="game-reviews__reviewer-name">Viezh Robert</span>
								<span class="game-reviews__reviewer-location">Warsaw, Poland</span>
							</div>
							<div class="game-reviews__rating">
								<span class="game-reviews__rating-score">4.5</span>
								<img src="/icon/star-filled.svg" alt="Star" class="game-reviews__star">
							</div>
						</div>
						<p class="game-reviews__text">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						</p>
					</article>
					<article class="game-reviews__card">
						<div class="game-reviews__reviewer">
							<img src="img/avatar.png" alt="Reviewer" class="game-reviews__avatar">
							<div class="game-reviews__reviewer-details">
								<span class="game-reviews__reviewer-name">Viezh Robert</span>
								<span class="game-reviews__reviewer-location">Warsaw, Poland</span>
							</div>
							<div class="game-reviews__rating">
								<span class="game-reviews__rating-score">4.5</span>
								<img src="/icon/star-filled.svg" alt="Star" class="game-reviews__star">
							</div>
						</div>
						<p class="game-reviews__text">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						</p>
					</article>
				</div>

				<div class="game-reviews__navigation">
					<button class="game-reviews__nav-button game-reviews__prev">
						<img src="/icon/prev.svg" alt="Previous">
					</button>
					<div class="game-reviews__indicators">
						<span class="game-reviews__indicator active"></span>
						<span class="game-reviews__indicator"></span>
						<span class="game-reviews__indicator"></span>
						<span class="game-reviews__indicator"></span>
					</div>
					<button class="game-reviews__nav-button game-reviews__next">
						<img src="/icon/next.svg" alt="Next">
					</button>
				</div>
			</section>
		</div>
	</main>

	<div id="footer-placeholder"></div>
</div>